<mat-toolbar class="header">
  <a *ngIf="isSmallScreen && !sidenav.opened" (click)="sidenav.open()"><mat-icon>menu</mat-icon></a>
  <a *ngIf="isSmallScreen && sidenav.opened" (click)="sidenav.close()"><mat-icon>close</mat-icon></a>
  My App
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="isSmallScreen ? 'over' : 'side'">
    <p>Sidenav</p>
  </mat-sidenav>

  <div class="container">
    <div class="content">
      <p>My Content</p>
    </div>
    <mat-toolbar class="footer">
      Footer
    </mat-toolbar>
  </div>

</mat-sidenav-container>
