<mat-toolbar class="header">
  <a *ngIf="isSmallScreen && !sidenav.opened" (click)="sidenav.open()" class="icon"><mat-icon>menu</mat-icon></a>
  <a *ngIf="isSmallScreen && sidenav.opened" (click)="sidenav.close()" class="icon"><mat-icon>close</mat-icon></a>
  My App
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="isSmallScreen ? 'over' : 'side'">
    <p>Sidenav</p>
  </mat-sidenav>

  <div class="container">
    <div class="content">
      <mat-card>
        <p>
          <button *ngIf="!subject" mat-button (click)="openSocket()">OPEN SOCKET</button>
          <button *ngIf="subject" mat-button (click)="completeSocket()">CLOSE SOCKET</button>
          <span>Status: {{subject ? 'OPEN' : 'CLOSED'}}</span>
        </p>
        <p>
          <mat-form-field class="full-width">
            <input matInput #input placeholder="Send a message" value="test">
          </mat-form-field>
          <button mat-button (click)="sendMessage(input.value)">SEND</button>
          <button mat-button (click)="logs = []">CLEAR</button>
        </p>
        <p *ngFor="let log of logs">{{log}}</p>
        <p>
          <button mat-button (click)="getRequest()">GET</button>
          <button mat-button (click)="postRequest(input.value)">POST</button>
        </p>
      </mat-card>
    </div>
    <mat-toolbar class="footer">
      Footer
    </mat-toolbar>
  </div>

</mat-sidenav-container>
